<nav id="mainNav" class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">

            <a class="navbar-brand page-scroll" href="#page-top"><%= image_tag "logo-main.png", height: "40px" %></a>
            <span id="nav-icon" style="font-size:35px;cursor:pointer" onclick="openNav()"><i class="fa fa-bars" style="color:white;"></i></span>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header id="home">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">The youth of the future need the skills of the future</div>

        </div>
    </div>
</header>
