<p>
  <strong>Name:</strong>
  <%= @lead.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @lead.country %>
</p>

<p>
  <%= @greeting %>, find me in app/views/lead_mailer/recieved.html.erb
</p>
