<!DOCTYPE html>
<html>
  <head>
    <title>HumanitarianCode</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <!-- <link href="css/agency.min.css" rel="stylesheet"> -->

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <meta charset="utf-8">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
  <![endif]-->

  </head>

  <body id="page-top" class="index">
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Nav slide down -->
    <div class="overlay overlay-slidedown">
      <button type="button" class="overlay-close">Close</button>
      <nav>
        <ul>
          <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="/about" data-turbolinks="false">About</a></li>
          <li><a href="/team" data-turbolinks="false">The team</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>

    <!-- <script>
        $(document).ready(function() {
          	var triggerBttn = document.getElementById( 'trigger-overlay' ),
          		overlay = document.querySelector( 'div.overlay' ),
          		closeBttn = overlay.querySelector( 'button.overlay-close' );
          		transEndEventNames = {
          			'WebkitTransition': 'webkitTransitionEnd',
          			'MozTransition': 'transitionend',
          			'OTransition': 'oTransitionEnd',
          			'msTransition': 'MSTransitionEnd',
          			'transition': 'transitionend'
          		},
          		transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
          		support = { transitions : Modernizr.csstransitions };

          	function toggleOverlay() {
          		if( classie.has( overlay, 'open' ) ) {
          			classie.remove( overlay, 'open' );
          			classie.add( overlay, 'close' );
          			var onEndTransitionFn = function( ev ) {
          				if( support.transitions ) {
          					if( ev.propertyName !== 'visibility' ) return;
          					this.removeEventListener( transEndEventName, onEndTransitionFn );
          				}
          				classie.remove( overlay, 'close' );
          			};
          			if( support.transitions ) {
          				overlay.addEventListener( transEndEventName, onEndTransitionFn );
          			}
          			else {
          				onEndTransitionFn();
          			}
          		}
          		else if( !classie.has( overlay, 'close' ) ) {
          			classie.add( overlay, 'open' );
          		}
          	}

          	triggerBttn.addEventListener( 'click', toggleOverlay );
          	closeBttn.addEventListener( 'click', toggleOverlay );
            $('.next-step').animateCSS('pulse', {
              delay: 1000,
              duration: 2500,
              // complete: function() {
              //   $(this).remove();
              // }
            });
          });

    </script> -->
  </body>
</html>
